@page
@model Agenda_Online.Pages.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Users)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Users.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.ContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contact.ContactId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
